@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

/* Floating neon glows */
body::before, body::after{
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, #ff00c8, transparent);
  border-radius: 50%;
  filter: blur(100px);
  overflow: hidden;
  animation: float 6s infinite alternate ease-in-out;
}

body::after{
  left: 60%;
  top: 20%;
  background: radial-gradient(circle, #00eaff, transparent);
}

@keyframes float{
  from{ transform: translate(-40px, -40px); }
  to{ transform: translate(40px, 40px); }
}

#container{
  width: 100%;
  max-width: 700px;
  text-align: center;
  z-index: 5;
  position: relative;
}

h1{
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 1px;
}



#quotebox{
  width: 100%;
  padding: 30px 10px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  font-size: 1.6rem;
  line-height: 2.3rem;
  box-shadow: 0 0 25px rgba(255,255,255,0.15);
  transition: .4s ease;
  min-height: 150px;
}

.fade{
  opacity: 0;
  transform: scale(0.95);
  transition: .5s ease;
}

#credit{
  position: absolute;
  bottom: 10%;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  font-size: 1rem;
  line-height: 2.3rem;
  box-shadow: 0 0 25px rgba(255,255,255,0.15);
  padding: 10px;
}

#credit:hover{
  color: #5c93f2;
}

button{
  margin: 5% 0;
  padding: 1% 5%;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  font-size: 1rem;
  line-height: 2.3rem;
  box-shadow: 0 0 25px rgba(255,255,255,0.15);
}

@media (max-width: 600px){
  body {
    padding: 15px; /* Reduce padding */
    overflow: hidden;
  }

  body::before, body::after{
    animation: none;
  }

  body::after{
  left: 0%;
  }


  h1{
    font-size: 1.8rem;
    margin-bottom: 50px; 
  }

  #quotebox{
    font-size: 1.3rem;
    padding: 22px;
    line-height: 1.9rem;
    min-height: 120px; 
  }

  #credit{
    bottom: 10%; 
    font-size: 0.85rem;
    padding: 8px 12px;
    line-height: 1.5rem;
  }

  button{
    margin: 8% 0;
    padding: 1% 5%;
  }
}

